@model List<ShopProject.Areas.Shopper.Models.CartItem>
@{
    ViewBag.Title = "Thanh toán đơn hàng";
    Layout = "~/Areas/Shopper/Views/Shared/_LayoutShop.cshtml";
}
<div class="container">
    @if (Model == null || Model.Count == 0)
    {
        <div class="spec ">
            <h3>Thanh toán</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <p class="text-info text-center" style="font-size:25px;">
            Giỏ hàng của bạn trống!
        </p>
    }
    else
    {
        <div class="spec ">
            <h3>Thanh toán</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class="row">
            <div id="center_column" class="center_column">
                <div class="row">
                    <div id="left_column" class="column col-sm-12 col-md-12">
                        <form class="form-horizontal" action="/ThanhToan/StepEnd" method="post">
                            <div class="col-sm-6 col-md-6">
                                <div class="detail_ct">
                                    <legend>Thông tin liên hệ</legend>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Họ và tên *</label>
                                        <div class="col-lg-8">
                                            <input type="text" required name="fullname" class="form-control input-sm field" style="width:300px;" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Email</label>
                                        <div class="col-lg-8">
                                            <input type="email" required placeholder="Không bắt buộc" class="form-control input-sm field" name="email" style="width:300px;" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Số điện thoại *</label>
                                        <div class="col-lg-8">
                                            <input type="text" required class="form-control input-sm field" id="phone" name="phone" style="width:300px;" value="">
                                        </div>
                                    </div>
                                    <legend>Địa chỉ giao hàng</legend>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Địa chỉ</label>
                                        <div class="col-lg-8">
                                            <textarea required class="form-control input-sm field" placeholder="Vui lòng ghi địa chỉ chi tiết..." name="address" rows="5" style="height:50px;"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-4 control-label">Ghi chú</label>
                                        <div class="col-lg-8">
                                            <textarea required class="form-control input-sm field" placeholder="Vui lòng ghi size của từng sản phẩm vào ô này..." name="note" rows="5" style="height:50px;"></textarea>
                                        </div>
                                    </div>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label"></label>
                                            <div class="col-lg-8">
                                                <input type="submit" style="width:auto;" name="submit_step1" class="btn btn-danger btn-buynow" value="Gửi đơn hàng">
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div> <div class="col-sm-6 col-md-6">
                                <div class="detail_ct" style="height:auto; min-height:inherit;">
                                    <legend>Giỏ hàng của bạn</legend>
                                    <table class="table" style="background:#FFF; font-size:18px;">
                                        <thead>
                                            <tr>
                                                <th>Hình</th>
                                                <th>Sản phẩm</th>
                                                <th>SL</th>
                                                <th>Đơn giá</th>
                                                <th>Thành tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int total = 0;}
                                            @foreach (var item in Model)
                                            {
                                                <tr style="border-top:1px solid #999;">
                                                    <td>
                                                        <img src="@item.Hinh" width="48">
                                                    </td>
                                                    <td>
                                                        <strong>
                                                            @item.TenSanPham
                                                        </strong>
                                                    </td>
                                                    <td>@item.SoLuong</td>
                                                    <td>@Int32.Parse(item.DonGia).ToString("#,##0") VNĐ</td>
                                                    <td>@item.ThanhTien.ToString("#,##0") VNĐ</td>
                                                </tr>
                                                total += item.ThanhTien;
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td colspan="6">
                                                    <a class="btn btn-default hidden-xs" style="float:right;" href="@Url.Action("Index", "GioHang")">Quay về</a>
                                                    <div class="clr"></div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <fieldset>
                                        <legend>Tổng</legend>
                                        <table class="table" style="background:#FFF; font-size:20px;">
                                            <tbody>
                                                <tr>
                                                    <td align="right">Tổng tiền:</td>
                                                    <td style="color:red;" align="right">@total.ToString("#,##0") VNĐ</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2">
                                                        <input type="submit" style="width:100%;" name="submit_step1_right" class="btn btn-primary" value="Gửi đơn hàng">
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </fieldset>
                                </div>
                            </div> <div class="clr"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
                                                }
</div>